/**/
.container-fluid{
background-color: rgb(127, 212, 252);
height: 800px;

}
.h1{
  font-style: initial;
  
}
.map{
margin-top: 20px;
width: 100%;
height: 300px;
}
#conteudo{
  background-color: white;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 540px;
}
#codigo{
  margin-top: 30px;
}
#cadastro{
  background-color: white;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 400px;
}
#senha{
width: 100px;

}